<div id="surveyContainerMain">
  <div id="surveyContainer" class="survey-container contentcontainer codecontainer">
    <div id="surveyElement"></div>
  </div>

  <div class="nav-buttons">
    <div [ngClass]="{ 'scale-1': !survey.isFirstPage }" id="btn_prev" (click)="survey.prevPage()">
      <span>Naspäť</span>
    </div>
    <div id="btn_next" (click)="nextPage()">
      <span id="btn_next_text"></span>
    </div>
    <div [ngClass]="{ 'scale-0': !survey.isFirstPage }" id="enter_hint">Alebo stlač enter</div>
  </div>

  <div class="sv_progress">
    <div class="sv_progress_bar"></div>
  </div>
</div>