<link rel="stylesheet" type="text/css" href="https://surveyjs.azureedge.net/1.7.12/survey.min.css">
<!--<link rel="stylesheet" type="text/css" href="/styles.css">-->

<span id="sectionElement">sekciaUvodneOtazky</span>

<div id="surveyContainer" class="survey-container contentcontainer codecontainer">
  <div id="surveyElement"></div>
</div>

<div id="surveyNavigationTop"></div>

<!--
<button id="btnCompleteSurvey" (click)="manuallyCompleteSurvey()">DEV.COMPLETE</button>

<div>
  <p id="resultContainer" hidden>TEST</p>
</div>
-->