<div class="intro">
  <h1 class="text-center">Ahoj, vitaj vo finančnom teste.</h1>

  <div id="divStandard">
    <p class="text-center">Vyzval ťa {{name}}, dosiahol hodnosti {{rank}}.</p>

    <div class="section">
      <h3>Po dokončení testu získaš</h3>
      <ul>
        <li>Na mieru <strong>odporúčania</strong> ako pracovať efektívnejšie s peniazmi</li>
        <li><strong>Návody</strong> ako si vieš vybrať finančné produkty</li>
        <li><strong>Počet</strong> získaných <strong>bodov</strong></li>
        <li><strong>Porovnanie</strong> oproti ostatným účastníkom testu</li>
      </ul>

      <h3>Dôležité pripomienky k testu:</h3>
      <ul>
        <li>Vyhodnotenie dostaneš okamžite a <strong>bez</strong> podmienky platenia alebo zadania
          <strong>emailu</strong></li>
        <li>Ak si po teste neuložíš <strong>odpovede</strong>, automaticky sa <strong>zmažú</strong></li>
        <li>Test zaberie približne <strong>15minút</strong></li>
        <li>Test je vytvorený vďaka analytikom z TowerFinance</li>
        <li>Úvodné otázky slúžia na výber najvhodnejšieho testu</li>
      </ul>

      Odporúčam Ti ho vyklikávať v pokoji :)

      <div class="actions">
        <div><img src="/assets/signature.png" alt=""></div>
        <div class="signature__text">
          <div><strong>Andrej Nejedlík</strong></div>
          <div>Zakladateľ projektu</div>
        </div>
        <button class="button-main big" routerLink="/survey">Poďme na to</button>
      </div>
    </div>
  </div>
  <div class="illustration__intro__wrapper">
    <div class="illustration__intro"></div>
  </div>
</div>