<div>
  <h1>Ahoj, vitaj vo finančnom teste.</h1>
  
<h2 id="challenge" hidden>Vyzval ťa {{name}}, dosiahol hodnosti {{rank}}.</h2>
Spolu s finančnými odborníkmi som pre Teba vytvoril test, pomocou ktorého zistíš, ako vieš narábať s peniazmi a ako rozumieš finančným princípom.

Po dokončení testu získaš

- Na mieru **odporúčania** ako pracovať efektívnejšie s peniazmi
- **Návody** ako si vieš vybrať finančné produkty
- **Počet** získaných **bodov**
- **Porovnanie** oproti ostatným účastníkom testu

Dôležité pripomienky k testu:
- Vyhodnotenie dostaneš okamžite a **bez** podmienky platenia alebo zadania **emailu**
- Ak si po teste neuložíš **odpovede**, automaticky sa **zmažú**
- Test zaberie približne **15minút**
- Test je vytvorený vďaka analytikom z TowerFinance
- Úvodné otázky slúžia na výber najvhodnejšieho testu

Odporúčam Ti ho vyklikávať v pokoji :)

<p>Andrej Nejedlík</p>
<p>Môj podpis + fotka v krúžku</p>
<button routerLink="/survey">Poďme na to</button>
</div>