<div>
  <h1>Intro</h1>
  <h3>Ahoj, vitaj v teste. Tento test nie je bežný, preto si prosím najprv pozri krátke inštrukcie.</h3>
  <p>Ahoj, spolu s finančnými odborníkmi som pre Teba vytvoril test, pomocou ktorého zistíš takmer všetko, čo potrebuješ vedieť o financiách. Test neslúži iba na zistenie, či si Tvoja finančná gramotnosť lepšia ako priemerného Slováka, prípadne na vypísanie správnych odpovedí a bodovania. Test Ti dá spätnú väzbu na výber Tvojich finančných produktov a efektivitu práce s peniazmi. Následne Ti automaticky ponúkne odporúčania na mieru ako narábať s peniazmi rozumnejšie.</p>
  <p>Keďže sme vyrobili viac ako 200 variant testu, tak sa Ťa na začiatku spýtam úvodné otázky, podľa ktorých Ti vyberiem ten najvhodnejší. Po teste dostaneš automaticky bez nutnosti zadania emailu vyhodnotenie, ktoré si budeš môcť uložiť. Upozorňujem, že ak si ho neuložíš, Tvoje vyhodnotenie aj s odpoveďami sa automaticky zmaže a už sa k nim nikto nedostane. Test Ti zaberie približne 15 minút, odporúčam Ti ho vyklikávať v pokoji :).</p>
  <p>Andrej Nejedlík</p>
  <p>Môj podpis + fotka v krúžku</p>
  <button routerLink="/survey">Poďme na to</button>
</div>
