body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.sv_body {
  min-height: 100vh;
  position: relative;
  background-color: transparent!important;
  background-image: url(https://images.typeform.com/images/iz45LhbEDwwu/background/large);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sv_nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px!important;
  display: flex;
  justify-content: flex-end;
}

.sv_qstn {
  margin: 0 160px;
}

h5.sv_q_title {
  font-size: 1.4rem!important;
  color: white;
}

.sv_q_radiogroup, .sv_q_checkbox {
  padding: 6px;
  background-color: rgba(255, 255, 255, .16);
  margin: 8px 0;
  box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 1px inset;
  border-radius: 6px;
  color: white;
  font-size: 1.2rem;
}

.sv_q_radiogroup label, .sv_q_checkbox label {
  cursor: pointer;
  display: block;
  min-height: 100%;
  height: auto !important;
}

.sv_q_radiogroup:hover, .sv_q_checkbox:hover {
  background-color: rgba(255, 255, 255, .30);
  box-shadow: rgba(255, 255, 255, 0.6) 0 0 0 2px inset;
}

.sv_row {
  border-bottom: none!important;
  background-color: transparent!important;
}

.sv_q_text_root {
  background-color: transparent!important;
  border: none!important;
  border-bottom: 2px solid white!important;
  font-size: 1.6rem!important;
  color: white!important;
  padding-left: 8px!important;
  margin-top: 16px!important;
}

::-webkit-input-placeholder { /* Edge */
  color: rgba(255, 255, 255, .5);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, .5);
}

::placeholder {
  color: rgba(255, 255, 255, .5);
}

.sv_q_radiogroup_other {
  background-color: transparent!important;
  border: none!important;
  border-bottom: 2px solid white!important;
  font-size: 1.6rem!important;
  color: white!important;
  margin-left: 0!important;
  padding-left: 8px!important;
}

.sv_q_text_root::-webkit-outer-spin-button,
.sv_q_text_root::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.sv_q_text_root[type=number] {
  -moz-appearance: textfield;
}

.sv_next_btn, .sv_complete_btn {
  margin-left: 8px;
}

.sv_next_btn--alternative {
  margin-top: 16px;
}

@media (max-width: 768px) {
  .sv_qstn {
    margin: 0 60px;
  }
  h5.sv_q_title {
    font-size: 1rem!important;
  }
  .sv_q_radiogroup, .sv_q_checkbox {
    font-size: 1rem;
    margin: 4px 0;
  }
  .sv_q_checkbox_control_item, .sv_q_radiogroup_control_item {
    margin-right: 0!important;
  }
  .sv_q_text_root, .sv_q_radiogroup_other {
    font-size: 1rem!important;
  }
}


@media (max-width: 425px) {
  .sv_qstn {
    margin: 0 30px;
  }
}


/*navigacny bar*/
.navigationContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: white;
}

.navigationProgressbarImage {
  display: inline-block;
  vertical-align: top;
  margin-top: 26px;
}

.navigationProgressbarImage.hidden {
  visibility: hidden;
}

.navigationProgressbar {
  padding-left: 0;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.navigationProgressbarDiv {
  margin: 16px auto;
}

.navigationProgressbar li {
  font-size: 14px;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  display: inline-block;
  margin: 0 8px;
  flex: 1 1 0px;
  text-align: center;
  width: 0;
}

.navigationProgressbar .sectionTitle {
  font-weight: bold;
  color: white;
  word-break: break-all;
}

.navigationProgressbar li:before {
  width: 30px;
  height: 30px;
  content: '';
  line-height: 30px;
  border: 3px solid #8dd9ca;
  display: block;
  margin: 0 auto 10px;
  border-radius: 50%;
  background-color: #8dd9ca;
  background-image: url(https://picsum.photos/536/354);
  background-size: cover;
  background-position: center;
}
.navigationProgressbar li:after {
  width: calc(100% - 45px);
  height: 3px;
  content: '';
  position: absolute;
  background-color: #8dd9ca;
  top: 15px;
  right: calc(50% + 30px);
  z-index: 11;
}
.navigationProgressbar li:first-of-type:after {
  content: none;
}
.navigationProgressbar li.completed:before {
  border-color: #1ab394;
  background-color: #1ab394;
}
.navigationProgressbar li.completed + li:after {
  background-color: #8dd9ca;
}
.navigationProgressbar li.current:before {
  border-color: #1ab394;
  box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.3);
}

.currency {
  color: pink;
}
