$header-font-size-pc: 30px;
$header-font-size-mo: 20px;
$header-font-weight: 600;

$text-font-size-pc: 20px;
$text-font-size-mo: 16px;

$button-font-size-pc: 25px;
$button-font-size-mo: 16px;

$background-color: rgba(160, 222, 237, 0.25);
$background-color-radio: white;
$background-color-button: rgb(239, 202, 43);
$background-color-selection: rgb(155, 212, 236);

$color-error: rgb(226, 87, 76);
$color-button-prev: rgb(44, 119, 177);

$color1: #9BD4EC;

$color3: #E5A024;
$color4: #FFBD5C;
$color5: #EAE2C2;

$bg1: #FFEFD2;
$bg2: #FFECD0;
$bg3: #F5EFD6;
$bg4: #F9DED9;
$bg5: #FBF0E0;

$text: black;
$textLight: #6D7477;
$tippyColor: #962913;

$navBarHeight: 120px;
