$color1: #3B301B;
$color2: #cf4327;
$color3: #E5A024;
$color4: #FFBD5C;
$color5: #EAE2C2;

$bg1: #FFEFD2;
$bg2: #FFECD0;
$bg3: #F5EFD6;
$bg4: #F9DED9;
$bg5: #FBF0E0;

$text: $color1;
$textLight: #6D7477;
$tippyColor: #962913;

$navBarHeight: 120px;
