@import "variables";

.font-mega {
	font-size: 40px;
	font-weight: 700;
	@media (max-width: 768px) {
		font-size: 30px;
	}
}

.font-header {
	font-size: $header-font-size-pc;
	font-weight: $header-font-weight;
	@media (max-width: 768px) {
		font-size: $header-font-size-mo;
	}
}

.font-text {
	font-size: $text-font-size-pc;
	@media (max-width: 768px) {
		font-size: $text-font-size-mo;
	}
}

.result-container {
	padding: 30px;
}

.congratulations,
.evaluation,
.improvement-video {
	display: flex;
  flex-direction: column;
}

.congratulations {
	width: fit-content;
  margin: auto;
	padding: 10px 0 50px 0;

	>* {
		margin-bottom: 10px;
		width: fit-content;
	}

	.color-highlight {
		color: $color-button-prev;
	}
}

.evaluation {
	margin-bottom: 80px;
	@media (max-width: 768px) {
		margin-bottom: 50px;
	}
}

.evaluation-row {
	display: flex;
  flex-wrap: wrap;
	justify-content: center;
}

.evaluation-column {
	margin: 0 20px 10px;
	max-width: 40%;
	@media (max-width: 768px) {
		max-width: 100%;
		text-align: center;
	}
}

.evaluation-item {
	display: flex;
	align-items: flex-start;
	margin: 15px 0;

	>img {
		margin: 5px 5px 0 0;
	}

	>span {
		align-self: center;
		text-align: initial;
	}
}

.improvement-video {
	margin: auto;
	align-items: center;
	width: 50vw;
	@media (max-width: 768px) {
		width: 80vw;
	}

	.improvement-video-iframe-wrapper {
		width: 100%;
		margin: 30px 0;

		iframe {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}
}

.result-buttons {
	display: flex;
  justify-content: space-evenly;
	margin-bottom: 30px;
	flex-wrap: wrap;

	>* {
		margin: 10px;
	}
}

.result-buttons>a, 
#button-challenge {
	border: none;
	width: fit-content;
	cursor: pointer;
	color: $text;
	text-decoration: none;
	padding: 5px 30px;
	font-weight: 500;
	border-radius: 7px;
	font-size: $button-font-size-pc;
	background-color: $background-color-button;
	@media (max-width: 768px) {
		font-size: $button-font-size-mo;
	}
}

.tippy-rank-container {
	display: flex;
	flex-direction: row;
}

.tippy-rank-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 5px;
}