.result {
  min-height: 100vh;
}

h1 {
  margin-top: 0;
  font-size: 3em;
}

.section-money-work {
  background-color: #EAE2C2;
}


.points li {
  margin: 8px 0;
}

.level {
  color: #cf4327;
  font-size: 1.4em;
}

.button-wrapper {
  margin: 8px 0;
}

.email-more {
  border-bottom: solid 2px #3B301B;
  padding: 16px;
  border-radius: 2px;
}

body {
  background: linear-gradient(180deg, #FFEFD2 0%, #FFFFFF 15.63%, #FFEFD2 30.73%, #FFFFFF 45.31%, #FFEFD2 58.33%, #FFFFFF 72.4%, #FFEFD2 85.42%);
}
